.p-domain {
  &__box {
    background-color: #000;
  }
  &__title {
    color: #fff;
    font-size: 24px;
    padding: 20px 0;
  }

  &__title2 {
    font-size: 20px;
    font-weight: bold;
margin-bottom: 30px;
  }


  &__content {
    width: 80%;
    margin-left: auto;
    background-color: #fff;
    opacity: .8;
    padding: 80px;
   margin-top: 20px;
   @media screen and (max-width:960px) {
    padding: 20px;
    width: 90%;
   }
  }

  &__text {
    margin-bottom: 30px;
  }
}